<section id="footer_main" th:fragment="footer">
	<div style="background: linear-gradient(135deg, #71b7e6, #9b59b6); padding: 10px;"></div>
	<div class="container">
		<div class="row py-4">
			<div class="col-md-12 col-sm-12 col-xs-12 footer-right">
				<div class="fi-about-block grid__item footer-new newfooter">
					<a th:href="@{/DahitaBook}">
						<img th:src="@{/resources/images/frontend/logo.png}" alt="Dahita Books" class="img-fluid">
					</a>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-12 newfooter">
					<div class="fi-title">TIN TỨC</div>
					<div class="fi-content">
						<ul class="grid__item one-whole">
							<li>
								<a class="fi" href="#"><span>Giới thiệu</span></a>
							</li>
							<li>
								<a class="fi" href="#"><span>Điểm sách</span></a>
							</li>
							<li>
								<a class="fi" href="#"><span>Tuyển dụng</span></a>
							</li>
							<li>
								<a class="fi" href="#"><span>Sự kiện</span></a>
							</li>
							<li>
								<a class="fi" href="#"><span>Tin khuyến mại</span></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 newfooter">
					<div class="fi-title">Hỗ trợ khách hàng</div>
					<div class="fi-content">
						<ul class="grid__item one-whole">
							<li>
								<a class="fi" href=""><span>Điều khoản sử dụng</span></a>
							</li>
							<li>
								<a class="fi" href=""><span>Hướng dẫn mua hàng</span></a>
							</li>
							<li>
								<a class="fi" href=""><span>Phương thức thanh toán</span></a>
							</li>
							<li>
								<a class="fi" href=""><span>Phương thức giao hàng</span></a>
							</li>
							<li>
								<a class="fi" href=""><span>Chính sách đổi trả</span></a>
							</li>
							<li>
								<a class="fi" href=""><span>Bảo mật thông tin</span></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 newfooter">
					<div class="fi-title">Thông tin</div>
					<div class="fi-content">
						<ul class="grid__item one-whole">
							<li>
								<a class="fi" th:href="@{/client/login}"><span>Đăng nhập</span></a>
							</li>
							<li>
								<a class="fi" th:href="@{/client/login}"><span>Đăng ký</span></a>
							</li>
							<li>
								<a class="fi" href="#"><span>Tra cứu đơn hàng</span></a>
							</li>
							<li>
								<a class="fi" href="#"><span>Liên hệ</span></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 footer-new newfooter">
					<div class="fi-title">Kết nối với Dahita Books</div>
					<div class="fi-content icon-content">
						<ul class="row wrapper">
							<li class="col-4 shopee">
								<div id="dynamic-image" class="sp">
									<a href="#">
										<span class="tooltip">Shopee</span>
										<img class="ic" th:src="@{/resources/images/frontend/logo_shopee_dark.png}" alt="">
									</a>
								</div>
							</li>
							<li class="col-4 icon facebook">
								<a style="color: #000;" href="#">
									<span class="tooltip">Facebook</span>
									<span class="ic"><i class="fab fa-facebook-f"></i></span>
								</a>
							</li>
							<li class="col-4 icon tiktok">
								<a style="color: #000;" href="#">
									<span class="tooltip">Tiktok</span>
									<span class="ic"><i class="fab fa-tiktok"></i></span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>